/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:wght@200;300;400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Main styles*/
body {
    font-family: "Nunito", sans-serif;
    background: #9c8cd4;
    }

/* Centers the main content on the page */   
.container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.friends-logo {
    width: 180px;
}

/* Align text centrally for main headings and paragraphs*/
h1, h2, p {
    text-align:center;
}

/* Styles the question box*/
.question {
    font-weight:bold;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0.5, 0.5);
    padding:10px;
    margin:20px;
}

/* Button styles*/
.buttons {
    padding:10px 10px;
    margin:20px;
}

.btn {
    align-items:center;
    width:100%;
    background: white;
    border-radius: 10px;
    padding:20px;
    margin: 10px;
}

.btn--restart {
    background:#A2C8A2;
    color:black;
    width:fit-content;
    border-radius: 10px;
    padding: 20px;
    font-weight: bold;
}

/* Changes the cursor when hovering over a button*/
button:hover {
    cursor: pointer;
}

/*Responsive design for the button size on larger screens*/
@media only screen and (min-width: 700px) {
   body {
    margin: 0 20%;
   }
}

/*Only uses hover effect over buttons on devices that support this*/
@media(hover: hover) {
    button:hover {
        background: black;
        color:white;
    }
}