body {
    font-family: "Nunito", sans-serif;
    background: #9c8cd4;
    box-sizing: border-box; 
    }
    
.center {
    width:50%;
    margin:auto;
}

.friends-logo {
    width: 180px;
}

.headings {
    width:90%;
    margin:auto;
}

h1 {
    font-size: 25px;
    margin: 0;
}

h2 {
    font-size: 20px;
}

.question {
    font-weight:bold;
    background: white;
    border-radius: 10px;
    margin:1rem;
    padding:20px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0.5, 0.5);
}

.btn {
    display:block;
    background: white;
    border-radius: 10px;
    margin: 1rem;
    padding: 20px;
}

